:root {
	--primary-color: #0071BC;
	--secondary-color: #FF7E00;
	--white : #fff;
}

body {
	font-family: "Spartan", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol" !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	overflow-x: hidden !important;
}



nav .logout {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color) !important;
	color: var(--white) !important;
	border-radius: 0px;
	font-weight: 500;
}

nav .logout:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}


.auth--bg {
	background-image: url(../img/auth_image.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	max-height: 180vh;
}

.auth label {
	font-size: 14px;
}

.auth .form-control,.auth .custom-select {
	height: 50px;
	border: 1px solid #C4C4C4;
}

.auth .form-control::placeholder {
	color: #8F92A1;
	font-weight: 300;
}

.auth .auth__submit {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
	height: 50px;
	border-radius: 0px;
	font-weight: 500;
}

.auth .auth__submit:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}

.auth .auth__social {
	border: 1px solid #C4C4C4;
	border-radius: 0px;
	padding: 5px 35px;
}

.auth__wrapper {
	padding: 30px 150px 0px 150px ;
}

.auth__wrapper a {
	color: var(--primary-color);
	font-size: 14px;
	font-weight: 500;
}

.auth__wrapper h3 {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
}

.auth__wrapper p {
	color: #2F465C;
	font-size: 15px;
}

.toggle_wrapper {
	width: 80%;
	margin: 20px auto 0px;
	border-radius: 0px;
	font-size: 16px;
}

.toggle_wrapper div {
	cursor: pointer;
	color: #8F92A1;
	border: 1px solid #8F92A1;
}

.active_state {
	border: 1px solid #0071BC !important;
	color: #0071BC !important;
}

#business_wrapper {
	display: none;
}

.align-center {
	align-items: center;
}

.kyc--bg {
	background-color: #F7FAFF;
	color: #888888;
	min-height: 100vh;
	max-height: 180vh;
}

.kyc--wrapper {
	padding: 30px 100px 30px 100px ;
}

.kyc--wrapper input.form-control, .auth .custom-select {
	height: 50px;
	border: 1px solid #C4C4C4;
	color: #8F92A1;
}

.kyc--wrapper .form-control::placeholder {
	color: #8F92A1;
	font-weight: 300;
}

.kyc--wrapper .back {
	background: #FCFCFC;
	border: 1px solid #828282;
	color: #828282;
}

.kyc--wrapper .next {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color) !important;
	color: var(--white);
}

.kyc_nav {
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
	z-index: 3;
	position: relative;
}

.progress__status {
	height: 5px;
	background-color: #F7FAFF;
}

.progress__status .stage {
	height: 5px;
	background-color: #0071BC;
	width: 10%;
}

.verification__tab {
	background: #FFFFFF;
	box-shadow: 0px 4px 30px #E7EFFD;
	border-radius: 20px;
	align-items: center;
}

.verification__tab:hover {
	background: #F7FAFF;
	box-shadow: 0px 4px 30px #E7EFFD;
	border-radius: 20px;
}

.verification__tab .title {
	font-weight: 500;
	color: var(--primary-color);
}

.verification__tab .description {
	font-size: 16px;
	text-decoration: underline;
}

.tab2, .tab3 {
	display: none;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload--btn {
	background-color: #fff !important;
	color: #8F92A1 !important;
	border: 1px solid #8F92A1;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}

.banner {
	height: 100vh;
	position: relative;
}

.banner--bg {
	clip-path: polygon(0 0, 49% 0, 75% 100%, 0% 100%);
	background-color: #004370;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.banner--content {
	position: relative;
	z-index: 5 !important;
}

.banner--content nav {
	background-color: #0000;
	color: #fff !important;
	font-size: 14px;
}

.banner--content nav .nav-link {
	color: #fff !important;
}

.banner--content .fixed-top {
	background-color: #fff;
	box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
	transition: background .3s,border .3s,box-shadow .3s;
}

.banner--content .fixed-top .nav-link {
	color: #004370 !important;
}

.banner::before { content: ""; display: block; position: absolute; margin-left: 0; min-width: 100%; min-height: 100vh; z-index: 5; background-color: rgba(0, 113, 188, 0.9);}

.banner--content .sub-title {
	color: var(--secondary-color);
}
.banner--content p {
	font-weight: 400;
	color: var(--white);
}

.banner--content h1 {
	font-weight: 500;
	color: var(--white);
}

.banner--content .learn-more {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
	height: 50px;
	border-radius: 0px;
}

.banner--bg button:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}

.banner--content nav .button {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color) !important;
	color: var(--white) !important;
	border-radius: 0px;
	font-weight: 500;
}

.banner--content nav .button:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}

.feature--card {
	border-left: 4px solid #004370;
	background-color: #F7FAFF;
	padding: 20px;
}

.feature--card h4, .feature--card p {
	color: #38301E;
}

.benefit p {
	color: #38301E;
}

.benefit .sub-topic {
	color: var(--secondary-color);
}

.benefit__bg {
	background-color: #F7FAFF
}

.benefit button {
	background-color: var(--white);
	border: 1px solid var(--secondary-color) !important;
	color: var(--secondary-color);
	height: 50px;
	border-radius: 0px;
	font-weight: 500;
}

.benefit button:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}

.calculator {
	position: relative;
	z-index: 2;
	background: #fff;
	border-radius: 0px;
	padding: 20px;
}

.calculator::before {
	position: absolute;
	top: -3%;
	width: 92%;
	height: 106%;
	content: "";
	background: rgba(255, 255, 255, 0.5);
	z-index: -1;
	border-radius: 0px;
}

.calculator .fees {
	color: #2F465C;
	font-size: 14px;
}
.calculator .conversion__title,.calculator .conversion {
	color: #2F465C;
	font-size: 14px;
}

.calculator .transfer {
	background-color: #004370;
	text-align: center;
	font-size: 12px;
}



.calculator .compare--price {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
	border-radius: 0px;
}

.calculator .compare--price:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}

.calculator .get--started {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color) !important;
	color: var(--white);
	border-radius: 0px;
}

.calculator .compare--price:hover {
	background-color: #EC7C0F;
	border: 1px solid var(--secondary-color) !important;
	color: var(--white);
}

/*Footer styles*/
.footer {
	background-color: #004370;
	background-image: url(../img/footer-pattern.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer__logo {
	width: 130px;
}

.footer__tagline {
	color: #6fb6e9;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.6em;
}

.footer__description, .footer__description a {
	color: rgba(255,255,255,.7);
	font-size: 12px !important;
}

.footer__title {
	color: #fff;
	margin-bottom: 10px;
	position: relative;
	font-size: 16px;
}

.footer a, .footer li {
	color: rgba(255,255,255,.7);
	font-size: 14px;
}

.footer a:hover {
	text-decoration: none;
	color: #fff;
}

@media (min-width:320px) and (max-width:720px) {
	.auth__wrapper {
		padding: 1em;
	}

	.kyc--wrapper {
		padding: 1em;
	}
}
